<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="page">
        <%- include('../partials/header') %>

        <!--SHOW ERRORS FROM EXPRESS-FLASH-->
        <% if(messages.error) { %>
            <p class="flash-error"><%= messages.error %></p>
        <% } %>

        <div class="login-wrapper flex-center">
            <div class="form-wrapper">
                <h1>Sign Up</h1>

                <form id="login-form" class="form" method="POST" action="/register">
                    <div class="input-wrapper">
                        <label class="label" for="email">Email</label>
                        <input class="input" name="email" id="email" type="email" value="<%= email %>" />
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="password">Password</label>
                        <input class="input" name="password" id="password" type="password" value="<%= password %>" />
                    </div>  
                    <input id="submit-button" class="form-button" type="submit" value="Sign Up" disabled="true"/>
                </form>
            </div>
        </div>   
    </div>
    <%- include('../partials/form-script') %>
</body>
</html>